

body {
  padding: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  height: 4rem;
}

.nav {
  margin: auto 0;
  width: min-content;
}

.navOptions {
  display: flex;
  justify-content: end;
}

.navOptions ul {
  position: absolute;
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: rgb(230, 233, 235);
  width: min-content;
  margin: 0;
  border: none;
  border-radius: 6px;
}

.navOptions > ul > li {
  padding: 0.5rem;
  background-color: rgb(231, 238, 243);
  border: none;
  border-radius: 6px;
}

.navOptions > ul > li:hover {
  padding: 0.5rem;
  background-color: rgb(208, 230, 245);
}

.hamburger {
  height: 3rem;
  width: 3rem;
  padding: 0;
  margin-left: auto;
  border: none;
  border-radius: 6px;
}

.hamburger:hover {
background-color: rgb(208, 230, 245);    
}

.hamburger > img {
  height: 100%;
  margin: 0;
}

.invisible {
  display: none;
}
