

body {
  padding: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  margin-bottom: 2rem;
}

.nav {
  margin: auto 0;
  width: min-content;
}

.navOptions {
  display: flex;
  justify-content: end;
}

.navOptions ul {
  position: absolute;
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: rgb(230, 233, 235);
  width: min-content;
  margin: 0;
  border: none;
  border-radius: 6px;
}

.navOptions > ul > li {
  padding: 0.5rem;
  background-color: rgb(231, 238, 243);
  border: none;
  border-radius: 6px;
}

.navOptions > ul > li:hover {
  padding: 0.5rem;
  background-color: rgb(208, 230, 245);
}

.hamburger {
  height: 3rem;
  width: 3rem;
  padding: 0;
  margin-left: auto;
  border: none;
  border-radius: 6px;
}

.hamburger:hover {
background-color: rgb(208, 230, 245);    
}

.hamburger > img {
  height: 100%;
  margin: 0;
}

.invisible {
  display: none;
}

.carouselContainer {
    display: flex;
    position: relative;
    width: 100%;
    height: 50vh;
    align-items: center;
}

.slides {
    display: flex;
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

.slides img {
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    padding: 0 2rem;
}

.controls button {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
}

.controls img {
    height: 2rem;
    width: 2rem;
    padding: 0;
    margin: 0;
    background-color: white;
    border: none;
    border-radius: 100%;
}

.controls img:hover {
    background-color: rgb(255, 243, 177);
}