* {
  border: 1px solid red;
}

body {
  padding: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  height: 4rem;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}

.navOptions ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 0.5rem;
}

.hamburger {
  height: 3rem;
  width: 3rem;
  padding: 0;
}

.hamburger > img {
  height: 100%;
}


.visible {
    display: flex;
}

.invisible {
    display: none;
}