body {
  padding: 1rem;
  background: linear-gradient(to bottom left, rgba(0, 0, 0, 0.5), rgba(99, 142, 145, 0.5), rgba(87, 85, 92, 0.5));
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  margin-bottom: 2rem;
}

.nav {
  margin: auto 0;
  width: min-content;
  position: relative;
  z-index: 999;
}

.navOptions {
  display: flex;
  justify-content: end;
}

.navOptions ul {
  position: absolute;
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: rgb(230, 233, 235);
  width: min-content;
  margin: 0;
  border: none;
  border-radius: 6px;
}

.navOptions > ul > li {
  padding: 0.5rem;
  background-color: rgb(231, 238, 243);
  border: none;
  border-radius: 6px;
}

.navOptions > ul > li:hover {
  padding: 0.5rem;
  background-color: rgb(208, 230, 245);
}

.hamburger {
  height: 3rem;
  width: 3rem;
  padding: 0;
  margin-left: auto;
  border: none;
  border-radius: 6px;
}

.hamburger:hover {
  background-color: rgb(208, 230, 245);
}

.hamburger > img {
  height: 100%;
  margin: 0;
}

.invisible {
  display: none;
}

.carouselContainer {
  display: flex;
  position: relative;
  width: 100%;
  height: 50vh;
  align-items: center;
}

.slides {
  display: flex;
  width: 100%;
  height: 50vh;
  overflow: hidden;
}

.images {
  display: flex;
  width: 100%;
  height: 50vh;
}

.images img {
  flex: 0 0 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.controls {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  padding: 0 2rem;
}

.previous, .next {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  pointer-events: all;
  height: max-content;
}

.previous img, .next img {
  height: 2rem;
  width: 2rem;
  padding: 0;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px;
  border-radius: 100%;
}

.previous img:hover, .next img:hover {
  background-color: rgb(255, 243, 177);
}

.carouselNav {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 0.5rem;
    position: absolute;
    height: 100%;
    width: 100%;
    padding-bottom: 2rem;
    pointer-events: none;
}

.carouselNav > button {
    border: 1px solid white;
    border-radius: 100%;
    aspect-ratio: 1 / 1;
    height: 1rem;
    pointer-events: auto;
    box-shadow: 0 0 5px black;
    background-color: transparent;
}

.carouselNav button:hover {
    background-color: rgb(255, 243, 177);
}

button.carouselNavHover {
    background-color: rgb(255, 229, 158);
}